.codeEditor_wrapper {
  // flex: 1;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  // Monaco Editor wrapper
  > div {
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }
}
