.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  // border: 1px solid var(--border);
  // width: 100px;
  // height: 100px;
  width: 100%;

  figure {
    position: absolute;
    width: 115%;
    height: 115%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(34px);
    opacity: 0.2;
  }
  img {
    position: relative;
    z-index: 1;
    max-height: 500px;
    max-width: 100%;
  }
}
