:root {
  --primary-bg: #0d1117;
  --secondary-bg: #010409;
  --tertiary-bg: #212830;
  --secondary-bg-lighter: #0d1117;
  --icon-primary: #9198a1;
  --text-primary: #f0f6fc;
  --text-accent-blue: #4493f8;
  --text-accent-orange: #eba537;

  --border: #3d444d;
}
