@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.skeleton {
  // width: 50px;
  // height: 50px;
  width: 100%;
  height: 100%;
  //   border-radius: 50%;
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.1)
  );
  background-size: 200% 100%;
  animation: loading 1.5s infinite ease-in-out;
}

// .skeleton-picture {
//   width: 100%;
//   height: 300px;
//   opacity: 0.3; /* Lower opacity */
//   background: linear-gradient(
//     100deg,
//     rgba(255, 255, 255, 0.1),
//     rgba(255, 255, 255, 0.05),
//     rgba(255, 255, 255, 0.1)
//   );
//   background-size: 200% 100%;
//   border-radius: 0.5em;
//   animation: loading 1.5s infinite ease-in-out;
// }
