.item_container {
  display: flex;
  align-items: center;
  gap: 0.3rem;

  .folder_icon,
  .folder_icon path {
    width: 18px;
    height: 18px;
    fill: var(--icon-primary);
  }

  .item_name {
    color: var(--text-primary);
    font-size: 0.9rem;
    margin-left: 0.2rem;
  }

  .item_name_link {
    color: var(--text-primary);
    font-size: 0.9rem;
    margin-left: 0.2rem;
    text-decoration: none;
    &:hover {
      color: var(--text-accent-orange);
      text-decoration: underline;
    }
  }

  .item_name_clickable {
    color: var(--text-primary);
    font-size: 0.9rem;
    margin-left: 0.2rem;
    cursor: pointer;
    &:hover {
      // color: var(--text-accent-blue);
      text-decoration: underline;
    }
  }
}
