.explorerContent_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  min-height: 0;
  overflow: hidden;
}

.author_info {
  width: 100%;
  padding: 0.8rem;
  box-sizing: border-box;
  height: 50px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: var(--text-primary);
  font-size: 0.9rem;

  // background-color: var(--tertiary-bg);
  border: 1px solid var(--border);
  border-radius: 0.25em;
  .last_modified {
    margin-left: auto;
    opacity: 0.7;
    font-size: 0.8rem;
  }
  .history_btn {
    font-size: 0.8rem;

    gap: 0.3rem;
    width: fit-content;
    background-color: transparent;
    border: none;
    padding: 0.4rem;
    height: unset;
    transition: 0.15s;

    opacity: 0.7;
    &:hover {
      background-color: var(--tertiary-bg);
    }
  }
}
.itemViewer_info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex: 1;
}

.itemViewer_actions {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.file_size {
  color: var(--text-primary);
  font-size: 0.85rem;
  opacity: 0.7;
}
