.global_aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-right: 1px solid var(--border);
  width: 335px;
  max-width: 335px;
  padding: 1rem;
  box-sizing: border-box;
  height: 100%;
  flex-shrink: 0;

}
