@forward "./partials/fonts.scss";
@forward "./partials/animations.scss";
@forward "./partials/vars.scss";
@forward "./partials/mixins.scss";
@forward "./partials/reset.scss";
// @forward "./partials/swiprer.scss";
