@use "index.scss";

@layer reset, base, components;

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--text-accent-orange);
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--text-accent-blue);
}

.monaco-scrollable-element > .scrollbar {
  width: 2px !important;
  height: 2px !important;
}

.monaco-scrollable-element > .scrollbar > .slider {
  background: var(--text-accent-orange) !important;
  border-radius: 1px !important;
}

.monaco-scrollable-element > .scrollbar > .slider:hover {
  background: var(--text-accent-blue) !important;
}

.monaco-scrollable-element > .scrollbar > .slider:active {
  background: var(--text-accent-blue) !important;
}

.monaco-scrollable-element > .scrollbar.vertical {
  width: 2px !important;
}

.monaco-scrollable-element > .scrollbar.horizontal {
  height: 2px !important;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-bg);
}

#root {
  height: 100%;
  width: 100%;
}
.plyr__video-wrapper {
  background: var(--secondary-bg) !important;
}

// * {
//   font-family: "Poppins" !important;
//   font-weight: 500 !important;
// }

/* nprogress.css */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  // background: #29d; /* progress bar color */
  background: var(--text-accent-orange) !important;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  opacity: 0.7 !important;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px var(--text-accent-orange) 0 0 5px
    var(--text-accent-orange) !important;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  display: none; /* optional: hide spinner */
}
