.itemViewer_container {
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  border-radius: 0.24rem;
  overflow: hidden;

  .itemViewer_header {
    width: 100%;
    padding: 0.7rem;
    box-sizing: border-box;
    height: 45px;
    flex-shrink: 0;
    background-color: var(--tertiary-bg);
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    // justify-content: space-between;
  }

  .itemViewer_content {
    flex: 1;
    min-height: 0;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
    // padding: 1rem;
    overflow: auto;
    box-sizing: border-box;
  }
}
