.navbar {
  width: 100%;
  background-color: var(--secondary-bg);
  min-height: 65px;
  border-bottom: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.secondaryNavbar {
  display: flex;
  gap: 1rem;
  margin-top: 0.7rem;

  .link {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--text-primary);
    border-bottom: 2px solid transparent;
    border-radius: 0.3em;
    transition:
      color 0.15s ease,
      border-bottom-color 0.15s ease;
  }

  .link:hover {
    background-color: rgba(255, 255, 255, 0.06);
  }

  .active {
    // background-color: rgba(255, 165, 0, 0.08);
    border-bottom-color: var(--text-accent-oragne);
  }

  .icon {
    width: 16px;
    height: 16px;
  }
}
