.treeNode_wrapper {
  display: flex;
  flex-direction: column;

  // margin-left: 100px;
  .treeNode_btn_wrapper {
    height: 32px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.3rem;
    cursor: pointer;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
    &:hover {
      background-color: var(--tertiary-bg);
    }

    .treeNode_btn {
      display: flex;
      align-items: center;
      gap: 0.3rem;

      svg,
      path {
        width: 25px;
        height: 25px;
        fill: var(--icon-primary);
      }

      .treeNode_name {
        color: var(--text-primary);
        font-size: 0.9rem;
        margin-left: 0.8rem;
      }
    }
    .treeNode_expander {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      padding: 0rem 0.2rem;
      padding-left: 0.3rem;
      user-select: none;
      &:hover:not(.disabled) {
        background-color: #37424e;
      }
      &.disabled {
        opacity: 0;
        pointer-events: none;
      }
    }
  }

  .treeNode_children_container {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    border-left: 1px solid var(--border);
    margin-left: 0.5rem;
    // border-bottom: 1px solid var(--border);
    // border-radius: 0.5rem;
  }
}
