.input_field {
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
  width: 100%;
  margin: 0 auto;

  label {
    font-size: 0.9rem;
    color: var(--text-primary);
    font-weight: 500;

    .sub_label {
      opacity: 0.7;
    }
  }

  input {
    background-color: transparent;
    outline: 1px solid var(--border);
    border-radius: 0.3em;
    padding: 0.5rem;
    font-size: 0.9rem;
    color: var(--text-primary);
    border: none;
    &:focus {
      outline: 1px solid var(--text-accent-orange);
    }
  }
}
