.swiper {
  max-height: fit-content;
}

.slider_wrapper {
  width: 100%;
  border-radius: 0.3rem;
  overflow: hidden;
  margin-top: 0em !important;
  padding-bottom: 0;
}

.swiper_container {
  width: 100%;
  height: auto;
  position: relative;
  padding-bottom: 20px;

  :global(.swiper-pagination) {
    position: absolute !important;
    z-index: 5;
    // bottom: 0 !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
  }

  :global(.swiper-pagination-bullet) {
    background-color: var(--text-primary) !important;
    opacity: 0.5 !important;
    transition: all 0.3s ease !important;
    margin: 0 4px !important;
  }

  :global(.swiper-pagination-bullet-active) {
    background-color: var(--text-accent-orange) !important;
    opacity: 1 !important;
  }
}

.swiper_button_prev,
.swiper_button_next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--text-primary);
  transition:
    background-color 0.2s ease,
    opacity 0.2s ease;
  z-index: 10;

  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &:disabled {
    cursor: not-allowed !important;
    opacity: 0.3 !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
  }

  svg {
    width: 18px;
    height: 18px;
  }
}

.swiper_button_prev {
  left: 10px;
}

.swiper_button_next {
  right: 10px;
}

.swiper_slide {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  height: 500px !important;
}
