.table_wrapper {
  width: 100%;

  flex-shrink: 0;
}

.table {
  width: 100%;

  color: var(--text-primary);
  font-size: 0.9rem;

  .table_header {
    padding: 0.75rem 1rem;
    text-align: center;
    font-weight: 500;
    color: var(--text-primary);
    border-bottom: 1px solid var(--border);
    background-color: var(--secondary-bg);
  }

  .table_row {
    padding: 0.7rem;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border);
    transition: background-color 0.2s ease;
    display: flex;
    justify-content: space-between;
    &:hover {
      background-color: var(--tertiary-bg);
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .table_cell {
    // padding: 0.75rem 1rem;
    color: var(--text-primary);
    vertical-align: middle;
    box-sizing: border-box;
  }
}
