.table_wrapper {
  width: 100%;
  flex-shrink: 0;
}

.table {
  width: 100%;
  color: var(--text-primary);
  font-size: 0.8rem;
  gap: 0.5rem;

  thead {
    border-bottom: 1px solid var(--border);
    background-color: var(--tertiary-bg);
    padding: 0.75rem 1rem;
  }
  .table_header {
    text-align: left;
    font-weight: 500;
    color: var(--text-primary);
  }

  .table_row {
    box-sizing: border-box;
    border-bottom: 1px solid var(--border);
    transition: background-color 0.15s ease;

    height: 43px;
    &:hover {
      background-color: var(--tertiary-bg);
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .table_cell,
  .table_header {
    padding: 0.75rem 1rem;
    color: var(--text-primary);
    vertical-align: middle;
    box-sizing: border-box;
    max-width: 200px;
    font-size: 0.85rem;

    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
