.pfp_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: fit-content;
  height: fit-content;
}

.pfp_edit_button {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  background-color: var(--primary-bg);
  position: absolute;
  right: 5%;
  bottom: 5%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px !important;
}
