.fileExplorer_filter_container {
  width: 100%;
  display: flex;
  gap: 1.2rem;
}
.explorer_tree_header {
  display: flex;
  align-self: self-start;
  margin-bottom: 0.5rem;
  align-items: center;
  gap: 1rem;

  h1 {
    color: var(--text-primary);
  }
}
.explorer_content_nav {
  height: 35px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 1rem;
}
