.workSpace_btn {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: fit-content;
  height: 35px;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 0.3rem;
  border: 1px solid var(--border);
  background-color: var(--tertiary-bg);
  cursor: pointer;
  font-size: 0.9rem;
  // text-align: center;
  position: relative;
  &:hover {
    background-color: #262c36;
  }
  span {
    color: var(--text-primary);
  }
}
